# https://git-scm.com/docs/gitignore


satya 
new push
ckjdj 
# https://help.github.com/articles/ignoring-files
mskj     ssss
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/ vnsjcjsacns sn nsn nslc;
shgshgsahg
/node_modules/xyz




hckwc